#Toper{
background-color: blue;
height: 100px;
width: 100%;
top: 0;
left: 0;
}
#Left_Column{
background-color: chartreuse;
height: 100%-200px;
width: 100px;
bottom: 0;
left: 0;
}
#Main{
background-color: blueviolet;
height: 100%-200px;
width: 100%-200px;
top: 100px;
left: 100px;
}
#Right_Column{
background-color: darkorange;
height: 100%-200px;
width: 100px;
bottom: 0;
right: 0;
}
#Fotter{
background-color: aquamarine;
height: 100px;
width: 100%;
bottom: 0;
left: 0;
}